.row {
    margin-left: 20px;
    color: white;
    margin-bottom: 30px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    padding-left: 0;
    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    /* Poster height */
    margin-right: 10px;
    transition: transform 450ms;
    border-radius: 4px;
    cursor: pointer;
}

.poster:hover {
    transform: scale(1.08);
    /* Scale up on hover per plan */
}

.posterLarge {
    max-height: 250px;
}

.poster:hover {
    opacity: 1;
}